*{
    font-family: 'Jost', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header{
    position: fixed;
    /* height: 70px; */
    background-color: #151515;

    z-index: 2;
    width: 100%;
    margin-top: 20px;
}

.navbar-dark .navbar-brand{
    font-size: 2.2rem;
    color: #189a46;
    font-weight: bold;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #189a46;
}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;

    /* color: #000c04; */
    transition: all 1s;
    font-size: 1.2rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #189a46;
}
.menu li{
    padding: 0 10px;
}
.menu li::after{
    content: "";
    width: 0;
    height: 1.5px;
    background-color: #189a46;
    display: block;
    transition: all 1s;
}
.menu li:hover::after{
    width: 100%;
}
.menu .sub__nav i{
    font-size: 12px;
}
.expand-container {
    width: 24px;
    height: 24px;
    padding: 3px 0;
    margin-left: 20px;
}
.expand-container i.moon {
    display: block;
}
.moon, .moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}
.expand-container i.moon {
    color: #ffffff;
}
.moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}
.moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    display: block;
    box-sizing: border-box;
    border-radius:50%;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
}

.navbar-toggler{
    background-color: #1fb739;
    border:2px solid #d802ff;
}
@media screen and (min-width:768px) and (max-width: 991px) {
    .navbar-dark .navbar-toggler {
        margin-left: 350px;
    }
    .ml-auto{
        text-align: center;
       
    }

}
@media screen and (min-width:576px) and (max-width: 767px) {
    .navbar-dark .navbar-toggler {
        margin-left: 150px;
    }
    .ml-auto{
        text-align: center;
       
    }
}
@media screen and (max-width: 576px) {
    .ml-auto{
        text-align: center;
       
    }

}

/* CẢOUSEL */
#demo{
    position: relative;
}
.carousel-item:nth-child(1){
    background-image: url(../img/banner1.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
    
}
.carousel-item:nth-child(2){
    background-image: url(../img/banner2.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
}
.carousel-item:nth-child(3){
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
}
.carousel-item:nth-child(4){
    background-image: url(../img/banner4.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    
}
.carousel-item h5{
   font-size: 4rem;
   font-weight: bold;
   margin: 0;

}
.carousel-item p{
   font-size: 1.2rem;
   font-weight: 300;
   padding-bottom: 20px;

}

.carousel-item::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(10, 9, 9, 0.509)
}
.carousel__thumb{
    text-align: left;
    
    /* transform: translateY(-50%); */
    /* top: 50%; */
    /* right: 50%; */
    /* transform: translateX(-50%); */
    margin-left: 400px;
    
}
.carousel__thumb__left{
    margin-left: 0;
    margin-right: 400px;
  
   
   /* padding-right: 100px; */

   
}
.carousel__thumb .btn-info{
    background-color: white;
    border-color: white;
    color: #189a46;
}
.carousel__thumb .btn{
   padding: 10px 30px;
   font-weight: 400;
   font-size: 18px;
   margin: 0 5px;
   border-radius: 12px;
}
.carousel__thumb .btn-outline-white{
    border: 2px solid #fff;
    background-color: transparent;
    color: white;
    transition: all 1s;
}
.carousel__thumb .btn-outline-white:hover{
    background-color: white;
    color: #189a46;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:white;
    transition: all .2s
}
.carousel-indicators li:hover{
    width: 30px;
    height: 10px;
    border-radius: 12px 12px 12px 12px;
    background-color: #189a46;
    /* color: #189a46; */

}
@media screen and (max-width: 992px) {
    .carousel__thumb{
        text-align: left;
        margin-left: 0px;
        
    }
    .carousel__thumb__left {
        margin-left: 0;
        margin-right: 0;
        }
}

@media screen and (max-width: 768px){
    .carousel-item {
        /* min-height: 580px; */
    }
    .carousel-item:nth-child(1),.carousel-item:nth-child(2),.carousel-item:nth-child(3),.carousel-item:nth-child(4){
    height: 60vh;

    }
   .carousel__thumb__left {
    margin-left: 0;
    margin-right: 0;
    }
    .carousel-item h5{
        font-size: 50px;
        font-weight: bold;
        margin: 0;
     
     }
     .carousel__thumb{
        text-align: left;
        margin-left: 0px;
        
    }
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        right: 0;
    }
}
@media screen and (max-width: 576px) {
    .carousel-item h5{
        font-size: 32px;
        font-weight: bold;
        margin: 0;
     
     }
    
}
.py-4 {
    background-color: #151515;
}
/* about */
.about{
    text-align: center;

   
}
.about h3{
    font-size: 18px;
    font-weight: 400;
    color: #ee5353;
}



.about h1{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 48px;
    color: #dddddd;

}
.about p{
    font-size: 1.2rem;
    color: #afafaf;

    line-height: 28px;
}
.about a{
    color:#dddddd;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid #189a46;
    transition: all 1s;
}
.about a:hover{
    color: #189a46;
}

@media screen and (max-width: 576px){
    .about h3{
        font-size: 18px;
       
    }
    .about h1{
        font-size: 27px;
        font-weight: bold;
        line-height: 30px;
    }
}
/* services */
.services{
    background-color: #222222;
    
}
.services__item{
    background-color: #151515;

    border-radius: 10px;
    transition: all 1s;
}
.services__item:hover{
    background-color: rgba(140, 98, 229, 0.05);

}
.services__item i{
    font-size: 30px;
    color: #189a46;

}
.services__item .services__title{
    padding: 10px 0;
}
.services__item .services__title a{
    color: #dddddd;

    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    border-bottom: none;

}
.services__item p{
    font-size: 1.2rem;
    color: #afafaf;

    /* color: #696969; */
    line-height: 28px;
}
.services__item a{
    text-decoration: none;
    color:#dddddd;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #189a46;
    transition: all 1s;
}
.services__item a:hover{
    color: #189a46;
}

/* choose */
.pb-5,
.py-5 {
    background-color: #151515;
}
.chosse img{
    border-radius: 20px;

} 
.img-fluid{
    width: 100%;
    height: auto;
}
.choose__content{
    padding-top: 30px;
}
.choose__content h3{
    font-size: 18px;
    color: #ee5353;
    font-weight: 400;
}
.choose__content h1{
    color: #dddddd;

    font-size: 2.5rem;
    font-weight: bold;
    line-height: 48px;
}
.choose__content p{
    font-size: 16px;
    line-height: 24.5px;
    color: #afafaf;

    /* color: #696969; */
}
.choose__content ul li{
    list-style-type: none;
    color: #dddddd;

    /* color: #000c04; */
    font-size: 16px;
    font-weight: 600;
    padding: 7px 0;
    
}
.choose__content ul li i{
    font-size: 10px;
    font-weight: bold;
    color: #189a46;
    padding: 5px;
    border-radius: 50%;
    background-color: #222222;

    /* background-color: rgba(140, 98, 229, 0.05);  */
    margin-right: 5px;
}
@media screen and (max-width: 576px){
    .choose__content h3{
        font-size: 18px;
       
    }
    .choose__content h1{
        font-size: 27px;
        font-weight: bold;
        line-height: 30px;
    }
  
}
.container{
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.number{
    background-color: #189a46;
    color: #ffffff;
    padding: 40px 0px;
}
.number-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.number-content .item{
    width: 25%;
}
.number-content .item p:first-of-type{
font-size: 50px;
font-weight: bold;
}
.number-content .item p:last-of-type{
    font-size: 20px;
    color: #cce7cc;
}
.sale{
    padding: 30px;
    background-color: #222222;
}
.sale .heading h6{
color : red ;
font-size: 24px ;
font-weight: 600;
}
.sale .heading h3{
    color : #ddd ;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.sale .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 95%;
}
.sale .main .col-left{
    background-color: #151515;
    border-radius: 6px;
    align-self: center;
}
.sale .main .col-left .item{
    padding: 3.5rem 2.5rem;
}
.sale .main .col-left .item-top h6{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #dddddd;
}
.sale .main .col-left .item-top h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189a46;
}
.sale .main h4 label{
    font-size: 25px;
    vertical-align: text-top;
}
.sale .main h4 span{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}
.sale .buy-button .btn-style {
    padding: 12px 20px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius : 10px;
    background-color: #189a46;
    color: #fff;
    text-decoration: none;
}
.sale .main li{
    list-style: none;
    font-size: 18px;
    margin-bottom: 5px;
    color:#a6aa9f;
}
.sale .main .item-top{
    text-align: center;
}
.sale .main .item-bottom{
    text-align: center;
}
.sale .main .col-center {
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
    border-radius: 6px;
}
.sale .main .col-center .item-top {
    padding: 3em 2.5em 0.5em;
    background-color: #189a46;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.sale .main .col-center .item-top h5{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    color: #189a46;
    border-radius: 10px ;
}
.sale .main .col-center .item-top h6{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
}
.sale .main .col-center .item-top h4{
    font-size: 38px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.sale .main .col-center .item-top span{
    color: #fff;
}
.sale .main .col-center .item-bottom{
    padding: 2em 2.5em 3.5em;
    background-color: #151515;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
}
.sale .main .col-right{
    background: #151515;
    border-radius: 6px;
    align-self: center;
}
.sale .main .col-right .item{
    padding: 3.5rem 2.5rem;
    border-left: 0;
}
.sale .main .col-right .item-top h6{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #dddddd;
}

.sale .main .col-right .item-top h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189a46;
}
.nutrition{
    background-color: #151515;
    text-align: center;
    padding: 40px 0px;
}
.nutrition .nutrition-item{
    max-width: 950px;
    margin: 0 auto;
}
.nutrition .nutrition-item .nutrition-title h6{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: red;
}
.nutrition .nutrition-title h3{
    font-size: 38px;
    font-weight: 600;
    text-transform: capitalize;
    color: #dddddd;
}
.nutrition .nutrition-item .nutrition-title p{
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
    color: #aba89f;
}

.nutrition .nutrition-main .play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite
}
.nutrition .nutrition-main .play-icon span{
color: #189a46;
}
.nutrition .nutrition-main .play-icon:hover{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}
.nutrition .nutrition-main .play-icon span:hover{
    font-size: 20px;
}

.testimonial-full{
    background-color: #222;
    padding: 3rem 0rem;
}
.testimonial-full .heading h6{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color:red;
}
.testimonial-full .heading h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: #ddd;
}
.testimonial-full .testimonial-width{
    max-width: 1050px;
    margin: auto;
}
.testimonial-full .testimonial-width .testimonial{
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background-color: #151515;
    border: radius 20px;
    border: none;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}
.testimonial-full .testimonial-width .testimonial blockquote{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
}
.testimonial-full .testimonial-width .testimonial blockquote q{
    font-size: 1.2em;
    line-height: 28px;
    color: #a1a1a1;
}
.testimonial-full .testimonial-width .testimonial blockquote q::before{
    font-size: 50px;
    color : #189a46;
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
}
.testimonial-full .testimonial-width .testimonial .testi-des{
    display: flex;
    text-align: center;
}
.testimonial-full .testimonial-width .testimonial .testi-des .test-img{
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
}
.testimonial-full .testimonial-width .testimonial .testi-des .info{
    margin-left: 20px;
    text-align: left;
}
.testimonial-full .testimonial-width .testimonial .testi-des .info h3{
    font-weight: 600;
    font-size: 20px;
    color: #d4d4d4;
}
.testimonial-full .testimonial-width .testimonial .testi-des .info p{
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
}

.owl-theme .owl-nav {
    display: none;
}
.owl-dots {
    position: inherit;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin-top: 80px;
    color: red;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #189a46;
    width: 30px;
}
.owl-theme .owl-dots .owl-dot span:hover{
    background-color: #189a46;
    width: 30px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
.update{
    padding: 3rem 0rem;
    background-color: #151515;
}
.update .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.update .row .col{
    margin: 0 auto;
    max-width: 650px;
}
.update .row .col .header{
    text-align: center;
}
.update .row .col .header h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: #dddddd;
}
.update .row .col .header p{
    margin: 1rem 0rem;
    font-size: 20px;
    line-height: 28px;
    color: #a1a19e;
}
.update .row .flex-warp{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.update .row .col input{
    font-size: 16px;
    border-radius: 15px;
    padding: 0px 20px;
    height: 60px;
    flex-basis: 70%;
    background: #fff;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.update .row .col .btn-style{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 15px;
    background-color: #189a46;
    border-color: #189a46;
}
.footer{
    background-color: #111111;
    padding: 50px 0px;
}
.footer .row1{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer h6{
    color: #fff;
    font-size: 20px;
    /* line-height: 26px; */
    font-weight: 600;
    margin-bottom: 25px;
}
.footer li{
    list-style: none;
    line-height: 28px  ;
   
}
.footer li a:hover{
    color: #fff;
}
.footer p{
    color: #a5a5a5;
    font-size: 16px;
}
.footer i{
   color:  #696969 ;
   padding-left: 10px;
}
.footer .row .icon .social-icons li{
    display: inline-block;
    padding-left: 10px;
}
.footer .row .icon .social-icons li i:hover{
    color: #ffffff;
}
.footer .row .icon .social-icons ul{
    margin: 0px;
}
.footer .row .col-left a{
    color: #a5a5a5;
    font-size: 15px;
    font-weight: 500;
}
.footer .row .col-left a:hover{
    color: #ffffff;
}
.footer .row .col-right a{
    color: #a5a5a5;
    font-size: 15px;
    /* line-height: 32px; */
    font-weight: 500;
}
.footer .row .col-right a:hover{
    color: #ffffff;
}
.footer .row .col-right li{
    margin-bottom: 5px;
}
.footer .mid-footer{
    background-color: #111111;
    border-top: 1.5px solid rgba(103, 99, 99, 0.14);
}
.footer .mid-footer p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color:#a5a5a5 ;
}
.footer .mid-footer p a{
    color: red;
    opacity: 0.9;
}
/* back to top */
.backtotop {
    width: 50px;
    height: 50px;
    background: #189a46;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
}
.backtotop:hover{
    color: #fff;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width : 768px) {
 .sale .btn-style{
     display: none;
 }
 .sale .main{
    display: block;
}
.sale .ab{
    margin: 20px 0px;
}
.update .h3{
    font-size: 32px !important;
    line-height: 38px;
}
}
@media screen and (max-width : 576px) {

    .sale .main{
        display: block;
    }
    .sale .ab{
        margin: 20px 0px;
    }
    .sale .btn-style{
        display: none;
    }
    .update .title-update{
        font-size: 32px !important;
        line-height: 38px;
    }
    .update .btn-style{
    flex-basis: 100%;
    display: block;
    width: 100%;
    margin-top: 16px;
    }
    .sale .heading h3{
        font-size: 30px;
    }
    .nutrition .nutrition-title h3{
        font-size: 30px;
    }
    .testimonial-full .heading h3{
        font-size: 32px;
    }
}
